.App{
  background-color: rgb(244, 141, 141);
  padding-left: 20px;
  width: 50%;
}

.buttons{
  padding: 25px 0 35px 0;
}

.toggle{
  padding: 5px;
  background-color: rgb(31, 184, 17);
  border: none;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}

.toggle:hover{
  background-color: forestgreen;
  cursor: pointer;
}